body{
    text-align: center;
    font-family: "Heiti SC","Helvetica","Calibri";
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
}